<h1>{{ page.title }}</h1>

<div class="rte page-width grid">
  {{ page.content }}

  {% form 'contact' %}

    {% if form.posted_successfully? %}
      <p class="form-success">
        {{ 'contact.form.post_success' | t }}
      </p>
    {% endif %}

    {{ form.errors | default_errors }}

    <div class="custom-contact-form grid__item one-half">
      <div class="grid__item">
        <div class="">
          <label class="form-field" for="ContactFormName">{{ 'contact.form.name' | t }}</label>
          <input class="form-field" type="text"
            name="contact[name]"
            id="ContactFormName"
            placeholder="{{ 'contact.form.name' | t }}"
            value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}">

        </div>
        <div class="">
          <label class="form-field" for="ContactFormEmail">{{ 'contact.form.email' | t }}</label>
          <input class="form-field" type="email"
            name="contact[email]"
            id="ContactFormEmail"
            placeholder="{{ 'contact.form.email' | t }}"
            value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
            spellcheck="false"
            autocomplete="off"
            autocapitalize="off">
        </div>
        <div class="">
          <label class="form-field" for="ContactFormPhone">{{ 'contact.form.phone' | t }}</label>
          <input class="form-field" type="tel"
            name="contact[phone]"
            id="ContactFormPhone"
            placeholder="{{ 'contact.form.phone' | t }}"
            value="{% if form[phone] %}{{ form[phone] }}{% elsif customer %}{{ customer.phone }}{% endif %}"
            pattern="[0-9\-]*">

        </div>
        <div class="">
          <label class="form-field" for="ContactFormMessage">{{ 'contact.form.message' | t }}</label>
          <textarea class="form-field" rows="10"
            name="contact[body]"
            id="ContactFormMessage"
            placeholder="{{ 'contact.form.message' | t }}"></textarea>
            {% if form.body %}
              {{ form.body }}
            {% endif %}
        </div>
      </div>
      <input type="submit" class="btn button-default" value="{{ 'contact.form.send' | t }}">

      {% endform %}

      <div class="grid__item medium-up--one-third one-half">
        <h3>Phone</h3>
        <p>212-687-1817</p>
      </div>
    </div>
</div>

<style>
  .form-field {
    display: block;
  }
  .custom-contact-form {
    background-color: rgba(106, 106, 106, 0.2);
  }
  .button-default {
    background-color: black;
    color: white;
    border-radius: 4px;
  }
  .phone-address {
  }
</style>
