<div class="wide-intro">
  <section class="animationFadeIn">
    <h2>Contact</h2>
    <p>Ask us any questions or comments in the below form and we will respond shortly.</p>
  </section>
</div> <!-- End of .wide-intro -->

{% form 'contact' %}
<div class="contact-page page-width">
  <div id="contactFormWrapper grid__item">
    <div class="grid">
      <p class="grid__item medium-up--one-half animationFadeIn"><input type="text" required id="contactFormName" name="contact[name]" placeholder="Name"></p>
      <p class="grid__item medium-up--one-half animationFadeIn"><input type="email" required id="contactFormEmail" name="contact[email]" placeholder="Email"></p>
      <p class="grid__item medium-up--one-half animationFadeIn"><input type="tel" id="contactFormPhone" name="contact[phone]" placeholder="Phone"></p>
      <p class="grid__item medium-up--one-half animationFadeIn"><input type="text" id="contactFormOrderNumber" name="contact[order number]" placeholder="Order Number"></p>
      <p class="grid__item animationFadeIn">
        <select id="contactFormQuestionType" name="contact[question type]">
          <option>Order Status</option>
          <option>My Account</option>
          <option>General Information</option>
          <option>Store Feedback</option>
          <option>Other</option>
        </select>
      </p>
      <p class="grid__item animationFadeIn"><textarea required rows="10" id="contactFormMessage" name="contact[message]" placeholder="Message"></textarea></p>
      <p class="grid__item animationFadeIn"><input type="submit" id="contactFormSubmit" value="Submit" /></p>
    </div> <!-- End of .grid -->
  </div> <!-- End of #contactFormWrapper -->

  {% if form.posted_successfully? %}
    <div class="successForm feedback">
      {{ 'contact.form.post_success' | t }}
    </div>
  {% endif %}

  {% if form.errors %}
  <div class="errorForm feedback">
    <!-- {{ form.errors.size }} or {{ form.errors | size }} -->
    <p>Your contact form has {{ form.errors | size | pluralize: "an error", "a few errors" }}. To submit your form, make the following changes and try again:</p>
    {% for field in form.errors %}
      <p>The {{ field | capitalize | replace: 'Body', 'Message' }} field {{ form.errors.messages[field] }}.</p>
    {% endfor %}
  </div>
  {% endif %}

  <div class="lower-text">
    <p>We will reply in 24 hours or less.</p>
  </div>


</div> <!-- End of .contact-Page -->
{% endform %}
<style>
.contact-form {margin:1em 0}
.feedback {padding:0.5em 0.7em;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px}
.feedback p {padding:0.5em 0 !important;margin:0 !important}
.successForm {
	background: #bde0a8;
	color: #333;
	text-align: center;
	padding: 1.3em 0;
	margin-top: 1em;
	font-weight: normal;
}
.errorForm {background:#eebdbd;color:red}

.title,
.lower-text{
  text-align: center;
}

.title {
	margin-bottom: 3em;
  letter-spacing: 1px;
}

.title > p {
	font-style: italic;
	color: #666666;
	font-size: 1em;
	line-height: 20px;
}

.lower-text > p {
	font-size: 0.8em;
	letter-spacing: 0.1em;
	font-style: italic;
	color: #999999;
	margin-top: 1.5em;
}

</style>
