<div class="fragrance-finder">
  <div class="grid">
    <div class="grid__item medium-up--one-tenth flip"><img src="https://cdn.shopify.com/s/files/1/2191/4809/files/aromatic_-white_background-_320X1150.jpg?4587741525595457670" alt=""></div>
    <div class="grid__item medium-up--eight-tenths">
      <div class="page-width">
        <div class="products-collections">
         <section>
           <div class="center"><p style="color:#673C7E;">Evoke the experience of the natural world with herbal notes of sage, rosemary, cumin, lavender, basil and other greens.</p></div>
           <div class="list-of-four page-width">
           {%- assign collection = collections.fragrance-finder-aromatic-all -%}
             {% for product in collection.products limit: 12 %}
               <a href="{{ product.url | within: collection }}">
                 <span>{{ product.featured_image.src | img_url: '110x110' | img_tag: product.title }}</span>
                 <h2>{{ product.vendor }}</h2>
                 <p>{{ product.title }}</p>
                 <p>
                   {% if product.compare_at_price > product.price %}
                     {% if product.price_varies %}
                       {%- assign sale_price = product.price | money -%}
                       {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                     {% else %}
                       {{ 'products.product.on_sale' | t }}
                       {{ product.price | money }}
                     {% endif %}
                   {% else %}
                     {% if product.price_varies %}
                       {%- assign price = product.price | money -%}
                       {{ 'products.product.from_text_html' | t: price: price }}
                     {% else %}
                       {{ product.price | money }}
                     {% endif %}
                   {% endif %}
                 </p>
               {% else %}
             {% endfor %}
             </a>
           </div>
           <ul class="finder-btn">
             <li><a href="/collections/fragrance-finder-aromatic-all/">Aromatic</a></li>
             <li><a href="/collections/fragrance-finder-aromatic-aquatic/">Aromatic Aquatic</a></li>
             <li><a href="/collections/fragrance-finder-aromatic-fougere/">Aromatic Fougere</a></li>
             <li><a href="/collections/fragrance-finder-aromatic-fruity/">Aromatic Fruity</a></li>
           </ul>
         </section>
       </div>
      </div>
    </div>
    <div class="grid__item medium-up--one-tenth"><img src="https://cdn.shopify.com/s/files/1/2191/4809/files/aromatic_-white_background-_320X1150.jpg?4587741525595457670" alt=""></div>
  </div>
</div>

<div class="fragrance-finder">
   <div class="grid">
     <div class="grid__item medium-up--one-tenth flip"><img src="https://cdn.shopify.com/s/files/1/2191/4809/files/chypre_-white_background-_320X1150.jpg?4587741525595457670" alt=""></div>
     <div class="grid__item medium-up--eight-tenths">
       <div class="page-width">
         <div class="products-collections">
           <section>
             <div class="center"><p style="color:#536E4B;">Wrap yourself in the sensual, woody elegance of bergamot, labdanum, musk and oakmoss.</p></div>
             <div class="list-of-four page-width">
             {%- assign collection = collections.fragrance-finder-chypre-all -%}
               {% for product in collection.products limit: 12 %}
                 <a href="{{ product.url | within: collection }}">
                   <span>{{ product.featured_image.src | img_url: '110x110' | img_tag: product.title }}</span>
                   <h2>{{ product.vendor }}</h2>
                   <p>{{ product.title }}</p>
                   <p>
                     {% if product.compare_at_price > product.price %}
                       {% if product.price_varies %}
                         {%- assign sale_price = product.price | money -%}
                         {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                       {% else %}
                         {{ 'products.product.on_sale' | t }}
                         {{ product.price | money }}
                       {% endif %}
                     {% else %}
                       {% if product.price_varies %}
                         {%- assign price = product.price | money -%}
                         {{ 'products.product.from_text_html' | t: price: price }}
                       {% else %}
                         {{ product.price | money }}
                       {% endif %}
                     {% endif %}
                   </p>
                 {% else %}
               {% endfor %}
               </a>
             </div>
              <ul class="finder-btn">
                <li><a href="/collections/fragrance-finder-chypre-all/">Chypre</a></li>
                <li><a href="/collections/fragrance-finder-chypre-floral">Chypre Floral</a></li>
                <li><a href="/collections/fragrance-finder-chypre-fruity/">Chypre Fruity</a></li>
              </ul>
          </section>
        </div>
       </div>
     </div>
     <div class="grid__item medium-up--one-tenth"><img src="https://cdn.shopify.com/s/files/1/2191/4809/files/chypre_-white_background-_320X1150.jpg?4587741525595457670" alt=""></div>
   </div>
 </div>

 <div class="fragrance-finder">
    <div class="grid">
      <div class="grid__item medium-up--one-tenth flip"><img src="https://cdn.shopify.com/s/files/1/2191/4809/files/citrus_-white_background-_320X1150.jpg?4587741525595457670" alt=""></div>
      <div class="grid__item medium-up--eight-tenths">
        <div class="page-width">
          <div class="products-collections">
           <section>
             <div class="center"><p style="color:#F59B0C">Add an uplifting dose of fresh zest with a burst of lemon, bergamot, orange, and mandarin fragrances, perfect for summer.</p></div>
             <div class="list-of-four page-width">
             {%- assign collection = collections.fragrance-finder-citrus-all -%}
               {% for product in collection.products limit: 12 %}
                 <a href="{{ product.url | within: collection }}">
                   <span>{{ product.featured_image.src | img_url: '110x110' | img_tag: product.title }}</span>
                   <h2>{{ product.vendor }}</h2>
                   <p>{{ product.title }}</p>
                   <p>
                     {% if product.compare_at_price > product.price %}
                       {% if product.price_varies %}
                         {%- assign sale_price = product.price | money -%}
                         {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                       {% else %}
                         {{ 'products.product.on_sale' | t }}
                         {{ product.price | money }}
                       {% endif %}
                     {% else %}
                       {% if product.price_varies %}
                         {%- assign price = product.price | money -%}
                         {{ 'products.product.from_text_html' | t: price: price }}
                       {% else %}
                         {{ product.price | money }}
                       {% endif %}
                     {% endif %}
                   </p>
                 {% else %}
               {% endfor %}
               </a>
             </div>
               <ul class="finder-btn">
                 <li><a href="/collections/fragrance-finder-citrus-aromatic">Citrus Aromatic</a></li>
               </ul>
           </section>
         </div>
        </div>
      </div>
      <div class="grid__item medium-up--one-tenth"><img src="https://cdn.shopify.com/s/files/1/2191/4809/files/citrus_-white_background-_320X1150.jpg?4587741525595457670" alt=""></div>
    </div>
  </div>

  <div class="fragrance-finder">
     <div class="grid">
       <div class="grid__item medium-up--one-tenth flip"><img src="https://cdn.shopify.com/s/files/1/2191/4809/files/Floral_-white_background-_320X1150.jpg?4587741525595457670" alt=""></div>
       <div class="grid__item medium-up--eight-tenths">
         <div class="page-width">
           <div class="products-collections">
             <section>
               <div class="center"><p style="color:#E44690;">Let your feminine, playful spirit shine with a bouquet of jasmine, peony, gardenia and lily.</p></div>
               <div class="list-of-four page-width">
               {%- assign collection = collections.fragrance-finder-floral-all -%}
                 {% for product in collection.products limit: 12 %}
                   <a href="{{ product.url | within: collection }}">
                     <span>{{ product.featured_image.src | img_url: '110x110' | img_tag: product.title }}</span>
                     <h2>{{ product.vendor }}</h2>
                     <p>{{ product.title }}</p>
                     <p>
                       {% if product.compare_at_price > product.price %}
                         {% if product.price_varies %}
                           {%- assign sale_price = product.price | money -%}
                           {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                         {% else %}
                           {{ 'products.product.on_sale' | t }}
                           {{ product.price | money }}
                         {% endif %}
                       {% else %}
                         {% if product.price_varies %}
                           {%- assign price = product.price | money -%}
                           {{ 'products.product.from_text_html' | t: price: price }}
                         {% else %}
                           {{ product.price | money }}
                         {% endif %}
                       {% endif %}
                     </p>
                   {% else %}
                 {% endfor %}
                 </a>
               </div>
                <ul class="finder-btn">
                  <li><a href="/collections/fragrance-finder-floral-all">Floral</a></li>
                  <li><a href="/collections/fragrance-finder-floral-aquatic">Floral Aquatic</a></li>
                  <li><a href="/collections/fragrance-finder-floral-fruity">Floral Fruity</a></li>
                  <li><a href="/collections/fragrance-finder-floral-fruity-gormand">Floral Fruity Gormand</a></li>
                  <li><a href="/collections/fragrance-finder-floral-green">Floral Green</a></li>
                  <li><a href="/collections/fragrance-finder-floral-musk">Floral Musk</a></li>
                  <li><a href="/collections/fragrance-finder-floral-woody-musk">Floral Woody Musk</a></li>
                  <li><a href="/collections/fragrance-finder-floral-woody">Floral Woody</a></li>
                </ul>
            </section>
          </div>
         </div>
       </div>
       <div class="grid__item medium-up--one-tenth"><img src="https://cdn.shopify.com/s/files/1/2191/4809/files/Floral_-white_background-_320X1150.jpg?4587741525595457670" alt=""></div>
     </div>
   </div>

   <div class="fragrance-finder">
      <div class="grid">
        <div class="grid__item medium-up--one-tenth flip"><img src="https://cdn.shopify.com/s/files/1/2191/4809/files/leather_-white_background-_320X1150_copy.jpg?4587741525595457670" alt=""></div>
        <div class="grid__item medium-up--eight-tenths">
          <div class="page-width">
            <div class="products-collections">
             <section>
               <div class="center"><p style="color:#A45B52;">Evoke the smoky richness of leather with sharp and spicy notes of honey, tobacco, wood.</p></div>
               <div class="list-of-four page-width">
               {%- assign collection = collections.fragrance-finder-leather-all -%}
                 {% for product in collection.products limit: 12 %}
                   <a href="{{ product.url | within: collection }}">
                     <span>{{ product.featured_image.src | img_url: '110x110' | img_tag: product.title }}</span>
                     <h2>{{ product.vendor }}</h2>
                     <p>{{ product.title }}</p>
                     <p>
                       {% if product.compare_at_price > product.price %}
                         {% if product.price_varies %}
                           {%- assign sale_price = product.price | money -%}
                           {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                         {% else %}
                           {{ 'products.product.on_sale' | t }}
                           {{ product.price | money }}
                         {% endif %}
                       {% else %}
                         {% if product.price_varies %}
                           {%- assign price = product.price | money -%}
                           {{ 'products.product.from_text_html' | t: price: price }}
                         {% else %}
                           {{ product.price | money }}
                         {% endif %}
                       {% endif %}
                     </p>
                   {% else %}
                 {% endfor %}
                 </a>
               </div>
                 <ul class="finder-btn">
                   <li><a href="/collections/fragrance-finder-leather-all">Leather</a></li>
                 </ul>
             </section>
           </div>
          </div>
        </div>
        <div class="grid__item medium-up--one-tenth"><img src="https://cdn.shopify.com/s/files/1/2191/4809/files/leather_-white_background-_320X1150_copy.jpg?4587741525595457670" alt=""></div>
      </div>
    </div>

    <div class="fragrance-finder">
       <div class="grid">
         <div class="grid__item medium-up--one-tenth flip"><img src="https://cdn.shopify.com/s/files/1/2191/4809/files/Oriental_-white_background-_320X1150.jpg?4587741525595457670" alt=""></div>
         <div class="grid__item medium-up--eight-tenths">
           <div class="page-width">
             <div class="products-collections">
               <section>
                 <div class="center"><p style="color:#E7A078;">Create an intoxicating irresistible warmth with an accord of vanilla, musk, cinnamon, cardamom.</p></div>
                 <div class="list-of-four page-width">
                 {%- assign collection = collections.fragrance-finder-oriental-all -%}
                   {% for product in collection.products limit: 12 %}
                     <a href="{{ product.url | within: collection }}">
                       <span>{{ product.featured_image.src | img_url: '110x110' | img_tag: product.title }}</span>
                       <h2>{{ product.vendor }}</h2>
                       <p>{{ product.title }}</p>
                       <p>
                         {% if product.compare_at_price > product.price %}
                           {% if product.price_varies %}
                             {%- assign sale_price = product.price | money -%}
                             {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                           {% else %}
                             {{ 'products.product.on_sale' | t }}
                             {{ product.price | money }}
                           {% endif %}
                         {% else %}
                           {% if product.price_varies %}
                             {%- assign price = product.price | money -%}
                             {{ 'products.product.from_text_html' | t: price: price }}
                           {% else %}
                             {{ product.price | money }}
                           {% endif %}
                         {% endif %}
                       </p>
                     {% else %}
                   {% endfor %}
                   </a>
                 </div>
                  <ul class="finder-btn">
                    <li><a href="/collections/fragrance-finder-oriental-all">Oriental</a></li>
                    <li><a href="/collections/fragrance-finder-oriental-floral">Oriental Floral</a></li>
                    <li><a href="/collections/fragrance-finder-oriental-fougere">Oriental Fougere</a></li>
                    <li><a href="/collections/fragrance-finder-oriental-spicy">Oriental Spicy</a></li>
                    <li><a href="/collections/fragrance-finder-oriental-woody">Oriental Woody</a></li>
                    <li><a href="/collections/fragrance-finder-oriental-vanilla">Oriental Vanilla</a></li>
                  </ul>
              </section>
            </div>
           </div>
         </div>
         <div class="grid__item medium-up--one-tenth"><img src="https://cdn.shopify.com/s/files/1/2191/4809/files/Oriental_-white_background-_320X1150.jpg?4587741525595457670" alt=""></div>
       </div>
     </div>

     <div class="fragrance-finder">
        <div class="grid">
          <div class="grid__item medium-up--one-tenth flip"><img src="https://cdn.shopify.com/s/files/1/2191/4809/files/WOOD_-white_background-_320X1150.jpg?4587741525595457670" alt=""></div>
          <div class="grid__item medium-up--eight-tenths">
            <div class="page-width">
              <div class="products-collections">
               <section>
                 <div class="center"><p style="color:#544849;">Add mystery with an earthy aroma of wood, patchouli, sandalwood, cedar and a hint of spice.</p></div>
                 <div class="list-of-four page-width">
                 {%- assign collection = collections.fragrance-finder-woody-all -%}
                   {% for product in collection.products limit: 12 %}
                     <a href="{{ product.url | within: collection }}">
                       <span>{{ product.featured_image.src | img_url: '110x110' | img_tag: product.title }}</span>
                       <h2>{{ product.vendor }}</h2>
                       <p>{{ product.title }}</p>
                       <p>
                         {% if product.compare_at_price > product.price %}
                           {% if product.price_varies %}
                             {%- assign sale_price = product.price | money -%}
                             {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                           {% else %}
                             {{ 'products.product.on_sale' | t }}
                             {{ product.price | money }}
                           {% endif %}
                         {% else %}
                           {% if product.price_varies %}
                             {%- assign price = product.price | money -%}
                             {{ 'products.product.from_text_html' | t: price: price }}
                           {% else %}
                             {{ product.price | money }}
                           {% endif %}
                         {% endif %}
                       </p>
                     {% else %}
                   {% endfor %}
                   </a>
                 </div>
                   <ul class="finder-btn">
                     <li><a href="/collections/fragrance-finder-woody-all">Woody</a></li>
                     <li><a href="/collections/fragrance-finder-woody-aromatic">Woody Aromatic</a></li>
                     <li><a href="/collections/fragrance-finder-woody-aquatic">Woody Aquatic</a></li>
                     <li><a href="/collections/fragrance-finder-woody-citrus">Woody Citrus</a></li>
                     <li><a href="/collections/fragrance-finder-woody-floral">Woody Floral</a></li>
                     <li><a href="/collections/fragrance-finder-woody-floral-green">Woody Floral Green</a></li>
                     <li><a href="/collections/fragrance-finder-woody-floral-cedarwood">Woody Floral Cedarwood</a></li>
                     <li><a href="/collections/fragrance-finder-woody-spicy">Woody Spicy</a></li>
                     <li><a href="/collections/fragrance-finder-woody-vetiver">Woody Vetiver</a></li>
                   </ul>
               </section>
             </div>
            </div>
          </div>
          <div class="grid__item medium-up--one-tenth"><img src="https://cdn.shopify.com/s/files/1/2191/4809/files/WOOD_-white_background-_320X1150.jpg?4587741525595457670" alt=""></div>
        </div>
      </div>
