<div class="fragrance-finder">
  <div class="grid">
    <div class="grid__item medium-up--one-tenth flip"><img src="https://cdn.shopify.com/s/files/1/2191/4809/files/aromatic_-white_background-_320X1150.jpg?4587741525595457670" alt=""></div>
    <div class="grid__item medium-up--eight-tenths">
      <div class="page-width">
        <div class="products-collections">
         <section>
           <h2 style="color:#673C7E;">Aromatic</h2>
           <div class="center"><p style="color:#673C7E;">Evoke the experience of the natural world with herbal notes of sage, rosemary, cumin, lavender, basil and other greens.</p></div>
           <!-- <ul class="finder-btn"> -->
           <ul class="tabs-one">
             <li class="tab-link current" data-tab="tab-1">Aromatic</li>
             <li class="tab-link" data-tab="tab-2">Aromatic Aquatic</li>
             <li class="tab-link" data-tab="tab-3">Aromatic Fougere</li>
             <li class="tab-link" data-tab="tab-4">Aromatic Fruity</li>
           </ul>
             <div id="tab-1" class="list-of-four tab-content-one current-one">
               {%- assign collection = collections.fragrance-finder-aromatic-all -%}
                 {% for product in collection.products limit: 12 %}
                   <a href="{{ product.url | within: collection }}">
                     <span>{{ product.featured_image.src | img_url: '110x110' | img_tag: product.title }}</span>
                     <h2>{{ product.vendor }}</h2>
                     <p>{{ product.title }}</p>
                     <p>
                       {% if product.compare_at_price > product.price %}
                         {% if product.price_varies %}
                           {%- assign sale_price = product.price | money -%}
                           {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                         {% else %}
                           {{ 'products.product.on_sale' | t }}
                           {{ product.price | money }}
                         {% endif %}
                       {% else %}
                         {% if product.price_varies %}
                           {%- assign price = product.price | money -%}
                           {{ 'products.product.from_text_html' | t: price: price }}
                         {% else %}
                           {{ product.price | money }}
                         {% endif %}
                       {% endif %}
                     </p>
                   {% else %}
                 {% endfor %}
                 </a>
            	</div> <!-- END tab-content -->

            	<div id="tab-2" class="list-of-four tab-content-one">
                {%- assign collection = collections.fragrance-finder-aromatic-aquatic -%}
                  {% for product in collection.products limit: 12 %}
                    <a href="{{ product.url | within: collection }}">
                      <span>{{ product.featured_image.src | img_url: '110x110' | img_tag: product.title }}</span>
                      <h2>{{ product.vendor }}</h2>
                      <p>{{ product.title }}</p>
                      <p>
                        {% if product.compare_at_price > product.price %}
                          {% if product.price_varies %}
                            {%- assign sale_price = product.price | money -%}
                            {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                          {% else %}
                            {{ 'products.product.on_sale' | t }}
                            {{ product.price | money }}
                          {% endif %}
                        {% else %}
                          {% if product.price_varies %}
                            {%- assign price = product.price | money -%}
                            {{ 'products.product.from_text_html' | t: price: price }}
                          {% else %}
                            {{ product.price | money }}
                          {% endif %}
                        {% endif %}
                      </p>
                    {% else %}
                  {% endfor %}
                  </a>
            	</div> <!-- END tab-content -->

              <div id="tab-3" class="list-of-four tab-content-one">
                {%- assign collection = collections.fragrance-finder-aromatic-fougere -%}
                  {% for product in collection.products limit: 12 %}
                    <a href="{{ product.url | within: collection }}">
                      <span>{{ product.featured_image.src | img_url: '110x110' | img_tag: product.title }}</span>
                      <h2>{{ product.vendor }}</h2>
                      <p>{{ product.title }}</p>
                      <p>
                        {% if product.compare_at_price > product.price %}
                          {% if product.price_varies %}
                            {%- assign sale_price = product.price | money -%}
                            {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                          {% else %}
                            {{ 'products.product.on_sale' | t }}
                            {{ product.price | money }}
                          {% endif %}
                        {% else %}
                          {% if product.price_varies %}
                            {%- assign price = product.price | money -%}
                            {{ 'products.product.from_text_html' | t: price: price }}
                          {% else %}
                            {{ product.price | money }}
                          {% endif %}
                        {% endif %}
                      </p>
                    {% else %}
                  {% endfor %}
                  </a>
            	</div> <!-- END tab-content -->

              <div id="tab-4" class="list-of-four tab-content-one">
                {%- assign collection = collections.fragrance-finder-aromatic-fruity -%}
                  {% for product in collection.products limit: 12 %}
                    <a href="{{ product.url | within: collection }}">
                      <span>{{ product.featured_image.src | img_url: '110x110' | img_tag: product.title }}</span>
                      <h2>{{ product.vendor }}</h2>
                      <p>{{ product.title }}</p>
                      <p>
                        {% if product.compare_at_price > product.price %}
                          {% if product.price_varies %}
                            {%- assign sale_price = product.price | money -%}
                            {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                          {% else %}
                            {{ 'products.product.on_sale' | t }}
                            {{ product.price | money }}
                          {% endif %}
                        {% else %}
                          {% if product.price_varies %}
                            {%- assign price = product.price | money -%}
                            {{ 'products.product.from_text_html' | t: price: price }}
                          {% else %}
                            {{ product.price | money }}
                          {% endif %}
                        {% endif %}
                      </p>
                    {% else %}
                  {% endfor %}
                  </a>
            	</div> <!-- END tab-content -->
         </section>
       </div>
      </div>
    </div>
    <div class="grid__item medium-up--one-tenth"><img src="https://cdn.shopify.com/s/files/1/2191/4809/files/aromatic_-white_background-_320X1150.jpg?4587741525595457670" alt=""></div>
  </div>
</div>

<div class="fragrance-finder">
   <div class="grid">
     <div class="grid__item medium-up--one-tenth flip"><img src="https://cdn.shopify.com/s/files/1/2191/4809/files/chypre_-white_background-_320X1150.jpg?4587741525595457670" alt=""></div>
     <div class="grid__item medium-up--eight-tenths">
       <div class="page-width">
         <div class="products-collections">
           <section>
             <h2 style="color:#536E4B;">Chypre</h2>
             <div class="center"><p style="color:#536E4B;">Wrap yourself in the sensual, woody elegance of bergamot, labdanum, musk and oakmoss.</p></div>
             <ul class="tabs-two">
               <li class="tab-link current" data-tab="tab-5">Chypre</li>
               <li class="tab-link" data-tab="tab-6">Chypre Floral</li>
               <li class="tab-link" data-tab="tab-7">Chypre Fruity</li>
             </ul>
             <div id="tab-5" class="list-of-four tab-content-two current-two">
             {%- assign collection = collections.fragrance-finder-chypre-all -%}
               {% for product in collection.products limit: 12 %}
                 <a href="{{ product.url | within: collection }}">
                   <span>{{ product.featured_image.src | img_url: '110x110' | img_tag: product.title }}</span>
                   <h2>{{ product.vendor }}</h2>
                   <p>{{ product.title }}</p>
                   <p>
                     {% if product.compare_at_price > product.price %}
                       {% if product.price_varies %}
                         {%- assign sale_price = product.price | money -%}
                         {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                       {% else %}
                         {{ 'products.product.on_sale' | t }}
                         {{ product.price | money }}
                       {% endif %}
                     {% else %}
                       {% if product.price_varies %}
                         {%- assign price = product.price | money -%}
                         {{ 'products.product.from_text_html' | t: price: price }}
                       {% else %}
                         {{ product.price | money }}
                       {% endif %}
                     {% endif %}
                   </p>
                 {% else %}
               {% endfor %}
               </a>
             </div>

             <div id="tab-6" class="list-of-four tab-content-two">
               {%- assign collection = collections.fragrance-finder-chypre-fruity -%}
                 {% for product in collection.products limit: 12 %}
                   <a href="{{ product.url | within: collection }}">
                     <span>{{ product.featured_image.src | img_url: '110x110' | img_tag: product.title }}</span>
                     <h2>{{ product.vendor }}</h2>
                     <p>{{ product.title }}</p>
                     <p>
                       {% if product.compare_at_price > product.price %}
                         {% if product.price_varies %}
                           {%- assign sale_price = product.price | money -%}
                           {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                         {% else %}
                           {{ 'products.product.on_sale' | t }}
                           {{ product.price | money }}
                         {% endif %}
                       {% else %}
                         {% if product.price_varies %}
                           {%- assign price = product.price | money -%}
                           {{ 'products.product.from_text_html' | t: price: price }}
                         {% else %}
                           {{ product.price | money }}
                         {% endif %}
                       {% endif %}
                     </p>
                   {% else %}
                 {% endfor %}
                 </a>
            </div> <!-- END tab-content -->

            <div id="tab-7" class="list-of-four tab-content-two">
              {%- assign collection = collections.fragrance-finder-chypre-floral -%}
                {% for product in collection.products limit: 12 %}
                  <a href="{{ product.url | within: collection }}">
                    <span>{{ product.featured_image.src | img_url: '110x110' | img_tag: product.title }}</span>
                    <h2>{{ product.vendor }}</h2>
                    <p>{{ product.title }}</p>
                    <p>
                      {% if product.compare_at_price > product.price %}
                        {% if product.price_varies %}
                          {%- assign sale_price = product.price | money -%}
                          {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                        {% else %}
                          {{ 'products.product.on_sale' | t }}
                          {{ product.price | money }}
                        {% endif %}
                      {% else %}
                        {% if product.price_varies %}
                          {%- assign price = product.price | money -%}
                          {{ 'products.product.from_text_html' | t: price: price }}
                        {% else %}
                          {{ product.price | money }}
                        {% endif %}
                      {% endif %}
                    </p>
                  {% else %}
                {% endfor %}
                </a>
           </div> <!-- END tab-content -->
           <div class="btn-video">
             <a href="//www.youtube.com/watch?v=gGCW4WHBqrU" data-lity><i class="fa fa-video-camera" aria-hidden="true"></i></a>
           </div>
          </section>
        </div>
       </div>
     </div>
     <div class="grid__item medium-up--one-tenth"><img src="https://cdn.shopify.com/s/files/1/2191/4809/files/chypre_-white_background-_320X1150.jpg?4587741525595457670" alt=""></div>
   </div>
 </div>

 <div class="fragrance-finder">
    <div class="grid">
      <div class="grid__item medium-up--one-tenth flip"><img src="https://cdn.shopify.com/s/files/1/2191/4809/files/citrus_-white_background-_320X1150.jpg?4587741525595457670" alt=""></div>
      <div class="grid__item medium-up--eight-tenths">
        <div class="page-width">
          <div class="products-collections">
           <section>
             <h2 style="color:#F59B0C">Citrus</h2>
             <div class="center"><p style="color:#F59B0C">Add an uplifting dose of fresh zest with a burst of lemon, bergamot, orange, and mandarin fragrances, perfect for summer.</p></div>
             <ul class="tabs-three">
               <li class="tab-link current" data-tab="tab-82">Citrus Aromatic</li>
               <li class="tab-link current" data-tab="tab-83">Citrus Floral</li>
             </ul>
             <div id="tab-82" class="list-of-four tab-content-three current-three">
             {%- assign collection = collections.fragrance-finder-citrus-aromatic -%}
               {% for product in collection.products limit: 12 %}
                 <a href="{{ product.url | within: collection }}">
                   <span>{{ product.featured_image.src | img_url: '110x110' | img_tag: product.title }}</span>
                   <h2>{{ product.vendor }}</h2>
                   <p>{{ product.title }}</p>
                   <p>
                     {% if product.compare_at_price > product.price %}
                       {% if product.price_varies %}
                         {%- assign sale_price = product.price | money -%}
                         {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                       {% else %}
                         {{ 'products.product.on_sale' | t }}
                         {{ product.price | money }}
                       {% endif %}
                     {% else %}
                       {% if product.price_varies %}
                         {%- assign price = product.price | money -%}
                         {{ 'products.product.from_text_html' | t: price: price }}
                       {% else %}
                         {{ product.price | money }}
                       {% endif %}
                     {% endif %}
                   </p>
                 {% else %}
               {% endfor %}
               </a>
             </div>
             <div id="tab-83" class="list-of-four tab-content-three">
             {%- assign collection = collections.fragrance-finder-citrus-floral -%}
               {% for product in collection.products limit: 12 %}
                 <a href="{{ product.url | within: collection }}">
                   <span>{{ product.featured_image.src | img_url: '110x110' | img_tag: product.title }}</span>
                   <h2>{{ product.vendor }}</h2>
                   <p>{{ product.title }}</p>
                   <p>
                     {% if product.compare_at_price > product.price %}
                       {% if product.price_varies %}
                         {%- assign sale_price = product.price | money -%}
                         {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                       {% else %}
                         {{ 'products.product.on_sale' | t }}
                         {{ product.price | money }}
                       {% endif %}
                     {% else %}
                       {% if product.price_varies %}
                         {%- assign price = product.price | money -%}
                         {{ 'products.product.from_text_html' | t: price: price }}
                       {% else %}
                         {{ product.price | money }}
                       {% endif %}
                     {% endif %}
                   </p>
                 {% else %}
               {% endfor %}
               </a>
             </div>
           </section>
         </div>
        </div>
      </div>
      <div class="grid__item medium-up--one-tenth"><img src="https://cdn.shopify.com/s/files/1/2191/4809/files/citrus_-white_background-_320X1150.jpg?4587741525595457670" alt=""></div>
    </div>
  </div>

  <div class="fragrance-finder">
     <div class="grid">
       <div class="grid__item medium-up--one-tenth flip"><img src="https://cdn.shopify.com/s/files/1/2191/4809/files/Floral_-white_background-_320X1150.jpg?4587741525595457670" alt=""></div>
       <div class="grid__item medium-up--eight-tenths">
         <div class="page-width">
           <div class="products-collections">
             <section>
               <h2 style="color:#E44690;">Floral</h2>
               <div class="center"><p style="color:#E44690;">Let your feminine, playful spirit shine with a bouquet of jasmine, peony, gardenia and lily.</p></div>

               <ul class="tabs-four">
                 <li class="tab-link current" data-tab="tab-9">Floral</li>
                 <li class="tab-link" data-tab="tab-10">Floral Aquatic</li>
                 <li class="tab-link" data-tab="tab-11">Floral Fruity</li>
                 <li class="tab-link" data-tab="tab-12">Floral Fruity Gormand</li>
                 <li class="tab-link" data-tab="tab-13">Floral Green</li>
                 <li class="tab-link" data-tab="tab-14">Floral Musk</li>
                 <li class="tab-link" data-tab="tab-15">Floral Woody Musk</li>
                 <li class="tab-link" data-tab="tab-16">Floral Woody</li>
               </ul>

               <div id="tab-9" class="list-of-four tab-content-four current-four">
               {%- assign collection = collections.fragrance-finder-floral-all -%}
                 {% for product in collection.products limit: 12 %}
                   <a href="{{ product.url | within: collection }}">
                     <span>{{ product.featured_image.src | img_url: '110x110' | img_tag: product.title }}</span>
                     <h2>{{ product.vendor }}</h2>
                     <p>{{ product.title }}</p>
                     <p>
                       {% if product.compare_at_price > product.price %}
                         {% if product.price_varies %}
                           {%- assign sale_price = product.price | money -%}
                           {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                         {% else %}
                           {{ 'products.product.on_sale' | t }}
                           {{ product.price | money }}
                         {% endif %}
                       {% else %}
                         {% if product.price_varies %}
                           {%- assign price = product.price | money -%}
                           {{ 'products.product.from_text_html' | t: price: price }}
                         {% else %}
                           {{ product.price | money }}
                         {% endif %}
                       {% endif %}
                     </p>
                   {% else %}
                 {% endfor %}
                 </a>
               </div>

               <div id="tab-10" class="list-of-four tab-content-four">
               {%- assign collection = collections.fragrance-finder-floral-aquatic -%}
                 {% for product in collection.products limit: 12 %}
                   <a href="{{ product.url | within: collection }}">
                     <span>{{ product.featured_image.src | img_url: '110x110' | img_tag: product.title }}</span>
                     <h2>{{ product.vendor }}</h2>
                     <p>{{ product.title }}</p>
                     <p>
                       {% if product.compare_at_price > product.price %}
                         {% if product.price_varies %}
                           {%- assign sale_price = product.price | money -%}
                           {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                         {% else %}
                           {{ 'products.product.on_sale' | t }}
                           {{ product.price | money }}
                         {% endif %}
                       {% else %}
                         {% if product.price_varies %}
                           {%- assign price = product.price | money -%}
                           {{ 'products.product.from_text_html' | t: price: price }}
                         {% else %}
                           {{ product.price | money }}
                         {% endif %}
                       {% endif %}
                     </p>
                   {% else %}
                 {% endfor %}
                 </a>
               </div>

               <div id="tab-11" class="list-of-four tab-content-four">
               {%- assign collection = collections.fragrance-finder-floral-fruity -%}
                 {% for product in collection.products limit: 12 %}
                   <a href="{{ product.url | within: collection }}">
                     <span>{{ product.featured_image.src | img_url: '110x110' | img_tag: product.title }}</span>
                     <h2>{{ product.vendor }}</h2>
                     <p>{{ product.title }}</p>
                     <p>
                       {% if product.compare_at_price > product.price %}
                         {% if product.price_varies %}
                           {%- assign sale_price = product.price | money -%}
                           {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                         {% else %}
                           {{ 'products.product.on_sale' | t }}
                           {{ product.price | money }}
                         {% endif %}
                       {% else %}
                         {% if product.price_varies %}
                           {%- assign price = product.price | money -%}
                           {{ 'products.product.from_text_html' | t: price: price }}
                         {% else %}
                           {{ product.price | money }}
                         {% endif %}
                       {% endif %}
                     </p>
                   {% else %}
                 {% endfor %}
                 </a>
               </div>


               <div id="tab-12" class="list-of-four tab-content-four">
               {%- assign collection = collections.fragrance-finder-floral-fruity-gormand -%}
                 {% for product in collection.products limit: 12 %}
                   <a href="{{ product.url | within: collection }}">
                     <span>{{ product.featured_image.src | img_url: '110x110' | img_tag: product.title }}</span>
                     <h2>{{ product.vendor }}</h2>
                     <p>{{ product.title }}</p>
                     <p>
                       {% if product.compare_at_price > product.price %}
                         {% if product.price_varies %}
                           {%- assign sale_price = product.price | money -%}
                           {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                         {% else %}
                           {{ 'products.product.on_sale' | t }}
                           {{ product.price | money }}
                         {% endif %}
                       {% else %}
                         {% if product.price_varies %}
                           {%- assign price = product.price | money -%}
                           {{ 'products.product.from_text_html' | t: price: price }}
                         {% else %}
                           {{ product.price | money }}
                         {% endif %}
                       {% endif %}
                     </p>
                   {% else %}
                 {% endfor %}
                 </a>
               </div>

               <div id="tab-13" class="list-of-four tab-content-four">
               {%- assign collection = collections.fragrance-finder-floral-green -%}
                 {% for product in collection.products limit: 12 %}
                   <a href="{{ product.url | within: collection }}">
                     <span>{{ product.featured_image.src | img_url: '110x110' | img_tag: product.title }}</span>
                     <h2>{{ product.vendor }}</h2>
                     <p>{{ product.title }}</p>
                     <p>
                       {% if product.compare_at_price > product.price %}
                         {% if product.price_varies %}
                           {%- assign sale_price = product.price | money -%}
                           {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                         {% else %}
                           {{ 'products.product.on_sale' | t }}
                           {{ product.price | money }}
                         {% endif %}
                       {% else %}
                         {% if product.price_varies %}
                           {%- assign price = product.price | money -%}
                           {{ 'products.product.from_text_html' | t: price: price }}
                         {% else %}
                           {{ product.price | money }}
                         {% endif %}
                       {% endif %}
                     </p>
                   {% else %}
                 {% endfor %}
                 </a>
               </div>

               <div id="tab-14" class="list-of-four tab-content-four">
               {%- assign collection = collections.fragrance-finder-floral-musk -%}
                 {% for product in collection.products limit: 12 %}
                   <a href="{{ product.url | within: collection }}">
                     <span>{{ product.featured_image.src | img_url: '110x110' | img_tag: product.title }}</span>
                     <h2>{{ product.vendor }}</h2>
                     <p>{{ product.title }}</p>
                     <p>
                       {% if product.compare_at_price > product.price %}
                         {% if product.price_varies %}
                           {%- assign sale_price = product.price | money -%}
                           {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                         {% else %}
                           {{ 'products.product.on_sale' | t }}
                           {{ product.price | money }}
                         {% endif %}
                       {% else %}
                         {% if product.price_varies %}
                           {%- assign price = product.price | money -%}
                           {{ 'products.product.from_text_html' | t: price: price }}
                         {% else %}
                           {{ product.price | money }}
                         {% endif %}
                       {% endif %}
                     </p>
                   {% else %}
                 {% endfor %}
                 </a>
               </div>

               <div id="tab-15" class="list-of-four tab-content-four">
               {%- assign collection = collections.fragrance-finder-floral-woody-musk -%}
                 {% for product in collection.products limit: 12 %}
                   <a href="{{ product.url | within: collection }}">
                     <span>{{ product.featured_image.src | img_url: '110x110' | img_tag: product.title }}</span>
                     <h2>{{ product.vendor }}</h2>
                     <p>{{ product.title }}</p>
                     <p>
                       {% if product.compare_at_price > product.price %}
                         {% if product.price_varies %}
                           {%- assign sale_price = product.price | money -%}
                           {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                         {% else %}
                           {{ 'products.product.on_sale' | t }}
                           {{ product.price | money }}
                         {% endif %}
                       {% else %}
                         {% if product.price_varies %}
                           {%- assign price = product.price | money -%}
                           {{ 'products.product.from_text_html' | t: price: price }}
                         {% else %}
                           {{ product.price | money }}
                         {% endif %}
                       {% endif %}
                     </p>
                   {% else %}
                 {% endfor %}
                 </a>
               </div>

               <div id="tab-16" class="list-of-four tab-content-four">
               {%- assign collection = collections.fragrance-finder-floral-woody -%}
                 {% for product in collection.products limit: 12 %}
                   <a href="{{ product.url | within: collection }}">
                     <span>{{ product.featured_image.src | img_url: '110x110' | img_tag: product.title }}</span>
                     <h2>{{ product.vendor }}</h2>
                     <p>{{ product.title }}</p>
                     <p>
                       {% if product.compare_at_price > product.price %}
                         {% if product.price_varies %}
                           {%- assign sale_price = product.price | money -%}
                           {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                         {% else %}
                           {{ 'products.product.on_sale' | t }}
                           {{ product.price | money }}
                         {% endif %}
                       {% else %}
                         {% if product.price_varies %}
                           {%- assign price = product.price | money -%}
                           {{ 'products.product.from_text_html' | t: price: price }}
                         {% else %}
                           {{ product.price | money }}
                         {% endif %}
                       {% endif %}
                     </p>
                   {% else %}
                 {% endfor %}
                 </a>
               </div>
            </section>
          </div>
         </div>
       </div>
       <div class="grid__item medium-up--one-tenth"><img src="https://cdn.shopify.com/s/files/1/2191/4809/files/Floral_-white_background-_320X1150.jpg?4587741525595457670" alt=""></div>
     </div>
   </div>

   <div class="fragrance-finder">
      <div class="grid">
        <div class="grid__item medium-up--one-tenth flip"><img src="https://cdn.shopify.com/s/files/1/2191/4809/files/leather_-white_background-_320X1150_copy.jpg?4587741525595457670" alt=""></div>
        <div class="grid__item medium-up--eight-tenths">
          <div class="page-width">
            <div class="products-collections">
             <section>
               <h2 style="color:#A45B52;">Leather</h2>
               <div class="center"><p style="color:#A45B52;">Evoke the smoky richness of leather with sharp and spicy notes of honey, tobacco, wood.</p></div>
               <ul class="tabs-five">
                 <li class="tab-link current" data-tab="tab-17">Leather</li>
               </ul>
               <div id="tab-17" class="list-of-four tab-content-five current-five">
               {%- assign collection = collections.fragrance-finder-leather-all -%}
                 {% for product in collection.products limit: 12 %}
                   <a href="{{ product.url | within: collection }}">
                     <span>{{ product.featured_image.src | img_url: '110x110' | img_tag: product.title }}</span>
                     <h2>{{ product.vendor }}</h2>
                     <p>{{ product.title }}</p>
                     <p>
                       {% if product.compare_at_price > product.price %}
                         {% if product.price_varies %}
                           {%- assign sale_price = product.price | money -%}
                           {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                         {% else %}
                           {{ 'products.product.on_sale' | t }}
                           {{ product.price | money }}
                         {% endif %}
                       {% else %}
                         {% if product.price_varies %}
                           {%- assign price = product.price | money -%}
                           {{ 'products.product.from_text_html' | t: price: price }}
                         {% else %}
                           {{ product.price | money }}
                         {% endif %}
                       {% endif %}
                     </p>
                   {% else %}
                 {% endfor %}
                 </a>
               </div>
             </section>
           </div>
          </div>
        </div>
        <div class="grid__item medium-up--one-tenth"><img src="https://cdn.shopify.com/s/files/1/2191/4809/files/leather_-white_background-_320X1150_copy.jpg?4587741525595457670" alt=""></div>
      </div>
    </div>

    <div class="fragrance-finder">
       <div class="grid">
         <div class="grid__item medium-up--one-tenth flip"><img src="https://cdn.shopify.com/s/files/1/2191/4809/files/Oriental_-white_background-_320X1150.jpg?4587741525595457670" alt=""></div>
         <div class="grid__item medium-up--eight-tenths">
           <div class="page-width">
             <div class="products-collections">
               <section>
                 <h2 style="color:#E7A078;">Oriental</h2>
                 <div class="center"><p style="color:#E7A078;">Create an intoxicating irresistible warmth with an accord of vanilla, musk, cinnamon, cardamom.</p></div>
                 <ul class="tabs-six">
                   <li class="tab-link current" data-tab="tab-18">Oriental</li>
                   <li class="tab-link" data-tab="tab-19">Oriental Floral</li>
                   <li class="tab-link" data-tab="tab-20">Oriental Fougere</li>
                   <li class="tab-link" data-tab="tab-21">Oriental Spicy </li>
                   <li class="tab-link" data-tab="tab-22">Oriental Woody</li>
                   <li class="tab-link" data-tab="tab-23">Oriental Vanilla</li>
                 </ul>
                 <div id="tab-18" class="list-of-four tab-content-six current-six">
                 {%- assign collection = collections.fragrance-finder-oriental-all -%}
                   {% for product in collection.products limit: 12 %}
                     <a href="{{ product.url | within: collection }}">
                       <span>{{ product.featured_image.src | img_url: '110x110' | img_tag: product.title }}</span>
                       <h2>{{ product.vendor }}</h2>
                       <p>{{ product.title }}</p>
                       <p>
                         {% if product.compare_at_price > product.price %}
                           {% if product.price_varies %}
                             {%- assign sale_price = product.price | money -%}
                             {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                           {% else %}
                             {{ 'products.product.on_sale' | t }}
                             {{ product.price | money }}
                           {% endif %}
                         {% else %}
                           {% if product.price_varies %}
                             {%- assign price = product.price | money -%}
                             {{ 'products.product.from_text_html' | t: price: price }}
                           {% else %}
                             {{ product.price | money }}
                           {% endif %}
                         {% endif %}
                       </p>
                     {% else %}
                   {% endfor %}
                   </a>
                 </div>

                 <div id="tab-19" class="list-of-four tab-content-six">
                 {%- assign collection = collections.fragrance-finder-oriental-floral -%}
                   {% for product in collection.products limit: 12 %}
                     <a href="{{ product.url | within: collection }}">
                       <span>{{ product.featured_image.src | img_url: '110x110' | img_tag: product.title }}</span>
                       <h2>{{ product.vendor }}</h2>
                       <p>{{ product.title }}</p>
                       <p>
                         {% if product.compare_at_price > product.price %}
                           {% if product.price_varies %}
                             {%- assign sale_price = product.price | money -%}
                             {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                           {% else %}
                             {{ 'products.product.on_sale' | t }}
                             {{ product.price | money }}
                           {% endif %}
                         {% else %}
                           {% if product.price_varies %}
                             {%- assign price = product.price | money -%}
                             {{ 'products.product.from_text_html' | t: price: price }}
                           {% else %}
                             {{ product.price | money }}
                           {% endif %}
                         {% endif %}
                       </p>
                     {% else %}
                   {% endfor %}
                   </a>
                 </div>

                 <div id="tab-20" class="list-of-four tab-content-six">
                 {%- assign collection = collections.fragrance-finder-oriental-fougere -%}
                   {% for product in collection.products limit: 12 %}
                     <a href="{{ product.url | within: collection }}">
                       <span>{{ product.featured_image.src | img_url: '110x110' | img_tag: product.title }}</span>
                       <h2>{{ product.vendor }}</h2>
                       <p>{{ product.title }}</p>
                       <p>
                         {% if product.compare_at_price > product.price %}
                           {% if product.price_varies %}
                             {%- assign sale_price = product.price | money -%}
                             {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                           {% else %}
                             {{ 'products.product.on_sale' | t }}
                             {{ product.price | money }}
                           {% endif %}
                         {% else %}
                           {% if product.price_varies %}
                             {%- assign price = product.price | money -%}
                             {{ 'products.product.from_text_html' | t: price: price }}
                           {% else %}
                             {{ product.price | money }}
                           {% endif %}
                         {% endif %}
                       </p>
                     {% else %}
                   {% endfor %}
                   </a>
                 </div>

                 <div id="tab-21" class="list-of-four tab-content-six">
                 {%- assign collection = collections.fragrance-finder-oriental-spicy -%}
                   {% for product in collection.products limit: 12 %}
                     <a href="{{ product.url | within: collection }}">
                       <span>{{ product.featured_image.src | img_url: '110x110' | img_tag: product.title }}</span>
                       <h2>{{ product.vendor }}</h2>
                       <p>{{ product.title }}</p>
                       <p>
                         {% if product.compare_at_price > product.price %}
                           {% if product.price_varies %}
                             {%- assign sale_price = product.price | money -%}
                             {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                           {% else %}
                             {{ 'products.product.on_sale' | t }}
                             {{ product.price | money }}
                           {% endif %}
                         {% else %}
                           {% if product.price_varies %}
                             {%- assign price = product.price | money -%}
                             {{ 'products.product.from_text_html' | t: price: price }}
                           {% else %}
                             {{ product.price | money }}
                           {% endif %}
                         {% endif %}
                       </p>
                     {% else %}
                   {% endfor %}
                   </a>
                 </div>

                 <div id="tab-22" class="list-of-four tab-content-six">
                 {%- assign collection = collections.fragrance-finder-oriental-woody -%}
                   {% for product in collection.products limit: 12 %}
                     <a href="{{ product.url | within: collection }}">
                       <span>{{ product.featured_image.src | img_url: '110x110' | img_tag: product.title }}</span>
                       <h2>{{ product.vendor }}</h2>
                       <p>{{ product.title }}</p>
                       <p>
                         {% if product.compare_at_price > product.price %}
                           {% if product.price_varies %}
                             {%- assign sale_price = product.price | money -%}
                             {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                           {% else %}
                             {{ 'products.product.on_sale' | t }}
                             {{ product.price | money }}
                           {% endif %}
                         {% else %}
                           {% if product.price_varies %}
                             {%- assign price = product.price | money -%}
                             {{ 'products.product.from_text_html' | t: price: price }}
                           {% else %}
                             {{ product.price | money }}
                           {% endif %}
                         {% endif %}
                       </p>
                     {% else %}
                   {% endfor %}
                   </a>
                 </div>

                 <div id="tab-23" class="list-of-four tab-content-six">
                 {%- assign collection = collections.fragrance-finder-oriental-vanilla -%}
                   {% for product in collection.products limit: 12 %}
                     <a href="{{ product.url | within: collection }}">
                       <span>{{ product.featured_image.src | img_url: '110x110' | img_tag: product.title }}</span>
                       <h2>{{ product.vendor }}</h2>
                       <p>{{ product.title }}</p>
                       <p>
                         {% if product.compare_at_price > product.price %}
                           {% if product.price_varies %}
                             {%- assign sale_price = product.price | money -%}
                             {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                           {% else %}
                             {{ 'products.product.on_sale' | t }}
                             {{ product.price | money }}
                           {% endif %}
                         {% else %}
                           {% if product.price_varies %}
                             {%- assign price = product.price | money -%}
                             {{ 'products.product.from_text_html' | t: price: price }}
                           {% else %}
                             {{ product.price | money }}
                           {% endif %}
                         {% endif %}
                       </p>
                     {% else %}
                   {% endfor %}
                   </a>
                 </div>
                 <div class="btn-video">
                   <a href="//www.youtube.com/watch?v=ScOl9F4xUXY" data-lity><i class="fa fa-video-camera" aria-hidden="true"></i></a>
                 </div>

              </section>
            </div>
           </div>
         </div>
         <div class="grid__item medium-up--one-tenth"><img src="https://cdn.shopify.com/s/files/1/2191/4809/files/Oriental_-white_background-_320X1150.jpg?4587741525595457670" alt=""></div>
       </div>
     </div>

     <div class="fragrance-finder">
        <div class="grid">
          <div class="grid__item medium-up--one-tenth flip"><img src="https://cdn.shopify.com/s/files/1/2191/4809/files/WOOD_-white_background-_320X1150.jpg?4587741525595457670" alt=""></div>
          <div class="grid__item medium-up--eight-tenths">
            <div class="page-width">
              <div class="products-collections">
               <section>
                 <h2 style="color:#544849;">Woody</h2>
                 <div class="center"><p style="color:#544849;">Add mystery with an earthy aroma of wood, patchouli, sandalwood, cedar and a hint of spice.</p></div>

                 <ul class="tabs-seven">
                   <li class="tab-link current" data-tab="tab-24">Woody</li>
                   <li class="tab-link" data-tab="tab-25">Woody Aromatic</li>
                   <li class="tab-link" data-tab="tab-26">Woody Aquatic</li>
                   <li class="tab-link" data-tab="tab-27">Woody Citrus </li>
                   <li class="tab-link" data-tab="tab-28">Woody Floral</li>
                   <li class="tab-link" data-tab="tab-29">Woody Floral Green</li>
                   <li class="tab-link" data-tab="tab-30">Woody Spicy</li>
                   <li class="tab-link" data-tab="tab-31">Woody Vetiver</li>
                 </ul>

                 <div id="tab-24" class="list-of-four tab-content-seven current-seven">
                 {%- assign collection = collections.fragrance-finder-woody-all -%}
                   {% for product in collection.products limit: 12 %}
                     <a href="{{ product.url | within: collection }}">
                       <span>{{ product.featured_image.src | img_url: '110x110' | img_tag: product.title }}</span>
                       <h2>{{ product.vendor }}</h2>
                       <p>{{ product.title }}</p>
                       <p>
                         {% if product.compare_at_price > product.price %}
                           {% if product.price_varies %}
                             {%- assign sale_price = product.price | money -%}
                             {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                           {% else %}
                             {{ 'products.product.on_sale' | t }}
                             {{ product.price | money }}
                           {% endif %}
                         {% else %}
                           {% if product.price_varies %}
                             {%- assign price = product.price | money -%}
                             {{ 'products.product.from_text_html' | t: price: price }}
                           {% else %}
                             {{ product.price | money }}
                           {% endif %}
                         {% endif %}
                       </p>
                     {% else %}
                   {% endfor %}
                   </a>
                 </div>

                 <div id="tab-25" class="list-of-four tab-content-seven">
                 {%- assign collection = collections.fragrance-finder-woody-aromatic -%}
                   {% for product in collection.products limit: 12 %}
                     <a href="{{ product.url | within: collection }}">
                       <span>{{ product.featured_image.src | img_url: '110x110' | img_tag: product.title }}</span>
                       <h2>{{ product.vendor }}</h2>
                       <p>{{ product.title }}</p>
                       <p>
                         {% if product.compare_at_price > product.price %}
                           {% if product.price_varies %}
                             {%- assign sale_price = product.price | money -%}
                             {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                           {% else %}
                             {{ 'products.product.on_sale' | t }}
                             {{ product.price | money }}
                           {% endif %}
                         {% else %}
                           {% if product.price_varies %}
                             {%- assign price = product.price | money -%}
                             {{ 'products.product.from_text_html' | t: price: price }}
                           {% else %}
                             {{ product.price | money }}
                           {% endif %}
                         {% endif %}
                       </p>
                     {% else %}
                   {% endfor %}
                   </a>
                 </div>

                 <div id="tab-26" class="list-of-four tab-content-seven">
                 {%- assign collection = collections.fragrance-finder-woody-aquatic -%}
                   {% for product in collection.products limit: 12 %}
                     <a href="{{ product.url | within: collection }}">
                       <span>{{ product.featured_image.src | img_url: '110x110' | img_tag: product.title }}</span>
                       <h2>{{ product.vendor }}</h2>
                       <p>{{ product.title }}</p>
                       <p>
                         {% if product.compare_at_price > product.price %}
                           {% if product.price_varies %}
                             {%- assign sale_price = product.price | money -%}
                             {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                           {% else %}
                             {{ 'products.product.on_sale' | t }}
                             {{ product.price | money }}
                           {% endif %}
                         {% else %}
                           {% if product.price_varies %}
                             {%- assign price = product.price | money -%}
                             {{ 'products.product.from_text_html' | t: price: price }}
                           {% else %}
                             {{ product.price | money }}
                           {% endif %}
                         {% endif %}
                       </p>
                     {% else %}
                   {% endfor %}
                   </a>
                 </div>

                 <div id="tab-27" class="list-of-four tab-content-seven">
                 {%- assign collection = collections.fragrance-finder-woody-citrus -%}
                   {% for product in collection.products limit: 12 %}
                     <a href="{{ product.url | within: collection }}">
                       <span>{{ product.featured_image.src | img_url: '110x110' | img_tag: product.title }}</span>
                       <h2>{{ product.vendor }}</h2>
                       <p>{{ product.title }}</p>
                       <p>
                         {% if product.compare_at_price > product.price %}
                           {% if product.price_varies %}
                             {%- assign sale_price = product.price | money -%}
                             {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                           {% else %}
                             {{ 'products.product.on_sale' | t }}
                             {{ product.price | money }}
                           {% endif %}
                         {% else %}
                           {% if product.price_varies %}
                             {%- assign price = product.price | money -%}
                             {{ 'products.product.from_text_html' | t: price: price }}
                           {% else %}
                             {{ product.price | money }}
                           {% endif %}
                         {% endif %}
                       </p>
                     {% else %}
                   {% endfor %}
                   </a>
                 </div>

                 <div id="tab-28" class="list-of-four tab-content-seven">
                 {%- assign collection = collections.fragrance-finder-woody-floral -%}
                   {% for product in collection.products limit: 12 %}
                     <a href="{{ product.url | within: collection }}">
                       <span>{{ product.featured_image.src | img_url: '110x110' | img_tag: product.title }}</span>
                       <h2>{{ product.vendor }}</h2>
                       <p>{{ product.title }}</p>
                       <p>
                         {% if product.compare_at_price > product.price %}
                           {% if product.price_varies %}
                             {%- assign sale_price = product.price | money -%}
                             {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                           {% else %}
                             {{ 'products.product.on_sale' | t }}
                             {{ product.price | money }}
                           {% endif %}
                         {% else %}
                           {% if product.price_varies %}
                             {%- assign price = product.price | money -%}
                             {{ 'products.product.from_text_html' | t: price: price }}
                           {% else %}
                             {{ product.price | money }}
                           {% endif %}
                         {% endif %}
                       </p>
                     {% else %}
                   {% endfor %}
                   </a>
                 </div>

                 <div id="tab-29" class="list-of-four tab-content-seven">
                 {%- assign collection = collections.fragrance-finder-woody-floral-green -%}
                   {% for product in collection.products limit: 12 %}
                     <a href="{{ product.url | within: collection }}">
                       <span>{{ product.featured_image.src | img_url: '110x110' | img_tag: product.title }}</span>
                       <h2>{{ product.vendor }}</h2>
                       <p>{{ product.title }}</p>
                       <p>
                         {% if product.compare_at_price > product.price %}
                           {% if product.price_varies %}
                             {%- assign sale_price = product.price | money -%}
                             {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                           {% else %}
                             {{ 'products.product.on_sale' | t }}
                             {{ product.price | money }}
                           {% endif %}
                         {% else %}
                           {% if product.price_varies %}
                             {%- assign price = product.price | money -%}
                             {{ 'products.product.from_text_html' | t: price: price }}
                           {% else %}
                             {{ product.price | money }}
                           {% endif %}
                         {% endif %}
                       </p>
                     {% else %}
                   {% endfor %}
                   </a>
                 </div>

                 <div id="tab-30" class="list-of-four tab-content-seven">
                 {%- assign collection = collections.fragrance-finder-woody-spicy -%}
                   {% for product in collection.products limit: 12 %}
                     <a href="{{ product.url | within: collection }}">
                       <span>{{ product.featured_image.src | img_url: '110x110' | img_tag: product.title }}</span>
                       <h2>{{ product.vendor }}</h2>
                       <p>{{ product.title }}</p>
                       <p>
                         {% if product.compare_at_price > product.price %}
                           {% if product.price_varies %}
                             {%- assign sale_price = product.price | money -%}
                             {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                           {% else %}
                             {{ 'products.product.on_sale' | t }}
                             {{ product.price | money }}
                           {% endif %}
                         {% else %}
                           {% if product.price_varies %}
                             {%- assign price = product.price | money -%}
                             {{ 'products.product.from_text_html' | t: price: price }}
                           {% else %}
                             {{ product.price | money }}
                           {% endif %}
                         {% endif %}
                       </p>
                     {% else %}
                   {% endfor %}
                   </a>
                 </div>

                 <div id="tab-31" class="list-of-four tab-content-seven">
                 {%- assign collection = collections.fragrance-finder-woody-vetiver -%}
                   {% for product in collection.products limit: 12 %}
                     <a href="{{ product.url | within: collection }}">
                       <span>{{ product.featured_image.src | img_url: '110x110' | img_tag: product.title }}</span>
                       <h2>{{ product.vendor }}</h2>
                       <p>{{ product.title }}</p>
                       <p>
                         {% if product.compare_at_price > product.price %}
                           {% if product.price_varies %}
                             {%- assign sale_price = product.price | money -%}
                             {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                           {% else %}
                             {{ 'products.product.on_sale' | t }}
                             {{ product.price | money }}
                           {% endif %}
                         {% else %}
                           {% if product.price_varies %}
                             {%- assign price = product.price | money -%}
                             {{ 'products.product.from_text_html' | t: price: price }}
                           {% else %}
                             {{ product.price | money }}
                           {% endif %}
                         {% endif %}
                       </p>
                     {% else %}
                   {% endfor %}
                   </a>
                 </div>

               </section>
             </div>
            </div>
          </div>
          <div class="grid__item medium-up--one-tenth"><img src="https://cdn.shopify.com/s/files/1/2191/4809/files/WOOD_-white_background-_320X1150.jpg?4587741525595457670" alt=""></div>
        </div>
      </div>
