{% if template.name == 'index' %}
  <div class="products-collections-slider">
		<section class="animationFadeIn">
			<div class="center"><h2>More to Adore</h2></div>
			<div class="list-of-five page-width">
			{%- assign collection = collections.more-to-adore -%}
				{% for product in collection.products limit: 12 %}
				  <a href="{{ product.url | within: collection }}">
						<span>{{ product.featured_image.src | img_url: '110x110' | img_tag: product.title }}</span>
						<h2>{{ product.vendor }}</h2>
						<p>{{ product.title }}</p>
						<p>{% if product.compare_at_price > product.price %}
					      {% if product.price_varies %}
					        {%- assign sale_price = product.price | money -%}
					        {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
					      {% else %}
					        {{ 'products.product.on_sale' | t }}
					        {{ product.price | money }}
					      {% endif %}
					    {% else %}
					      {% if product.price_varies %}
					        {%- assign price = product.price | money -%}
					        {{ 'products.product.from_text_html' | t: price: price }}
					      {% else %}
					        {{ product.price | money }}
					      {% endif %}
					    {% endif %}</p>
					</a>
					{% else %}
				{% endfor %}
			</div>
		</section>
  </div>
{% endif %}
