<style>
  {% if section.settings.logo != blank %}
    .site-header__logo-image {
      max-width: {{ section.settings.logo_max_width }}px;
    }
  {% endif %}

  .cartShopping a {
	  text-decoration: none;
	  color: white;}

  .cartShopping a:hover {color:#FFC5C5;}

</style>

<div data-section-id="{{ section.id }}" data-section-type="header-section">
  <header role="banner" class="animationFadeIn">
      <div id="top-header">
        <div><p>Free shipping on all US orders</p></div>
        <div class="cartShopping">
          {% if shop.customer_accounts_enabled %}
           <ul>
             {% if customer %}
               <li>
                 {% if customer.first_name != blank %}
                   {% capture first_name %}<a href="/account">{{ customer.first_name }}</a>{% endcapture %}
                   {{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}
                 {% else %}
                   <a href="/account">{{ 'layout.customer.account' | t }}</a>
                 {% endif %}
               </li>
               <li>
                 {{ 'layout.customer.log_out' | t | customer_logout_link }}
               </li>
             {% else %}
               <li>
                 {{ 'layout.customer.log_in' | t | customer_login_link }}
               </li>
               <li>
                  <a href="/cart">{% include 'icon-cart' %} {{ cart.item_count }} {{ 'layout.cart.items_count' | t: count: cart.item_count }}</a>
               </li>
             {% endif %}
           </ul>
         {% endif %}


        </div>
      </div>
      <!-- End of #top-header -->
    <div class="center-lower-header">

      <div class="mobile-navigation medium-up--hide"> <!-- Mobile toggle -->
        <section>
          <form action="/search" method="get" role="search">
            <!-- <label for="Search" class="label-hidden">
              {{ 'general.search.placeholder' | t }}
            </label>
            <input type="search"
                   name="q"
                   id="Search"
                   value="{{ search.terms | escape }}"
                   placeholder="{{ 'general.search.placeholder' | t }}"> -->
            <button type="submit" class="btn">
              {% include 'icon-search' %}
              <span class="icon-fallback-text">{{ 'general.search.submit' | t }}</span>
            </button>
          </form>

        </section>

        <section>
          {% if template.name == 'index' %}
            <h1 itemscope itemtype="http://schema.org/Organization">
          {% else %}
            <h1 itemscope itemtype="http://schema.org/Organization">
          {% endif %}
              <a href="/" itemprop="url" class="site-logo{% if section.settings.logo != blank %} site-header__logo-image{% endif %}">
                {% if section.settings.logo != blank %}
                  {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
                  <img src="{{ section.settings.logo | img_url: image_size }}"
                       srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                       alt="{{ section.settings.logo.alt | default: shop.name }}"
                       itemprop="logo">
                {% else %}
                  {{ shop.name }}
                {% endif %}
              </a>
          {% if template.name == 'index' %}
            </h1>
          {% else %}
            </h1>
          {% endif %}
        </section>

        <section class="mobile-dropdown">
          <a href="#" class="menu-dropdown">Menu</a>
        </section>
      </div>  <!-- End of .medium-up--hide -->



    <div id="lower-header" class="small--hide">
        {% if template.name == 'index' %}
          <h1 itemscope itemtype="http://schema.org/Organization">
        {% else %}
          <h1 itemscope itemtype="http://schema.org/Organization">
        {% endif %}
            <a href="/" itemprop="url" class="site-logo{% if section.settings.logo != blank %} site-header__logo-image{% endif %}">
              {% if section.settings.logo != blank %}
                {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
                <img src="{{ section.settings.logo | img_url: image_size }}"
                     srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                     alt="{{ section.settings.logo.alt | default: shop.name }}"
                     itemprop="logo">
              {% else %}
                {{ shop.name }}
              {% endif %}
            </a>
        {% if template.name == 'index' %}
          </h1>
        {% else %}
          </h1>
        {% endif %}

        <nav role="navigation">
          <ul class="site-nav">
            <li><a href="#" class="shop-dropdown">Shop</a></li>
            {% for link in linklists[section.settings.main_linklist].links %}
              {%- assign child_list_handle = link.title | handleize -%}
              {% if menus[child_list_handle].links != blank %}
                <li class="site-nav--has-submenu{% if link.active %} site-nav--active{% endif %}">
                  <a href="{{ link.url }}" class="site-nav__link">
                    {{ link.title }}
                    {% include 'icon-arrow-down' %}
                  </a>
                  <ul class="site-nav__submenu">
                    {% for childlink in menus[child_list_handle].links %}
                      <li {% if childlink.active %}class="site-nav--active"{% endif %}>
                        <a href="{{ childlink.url }}" class="site-nav__link">{{ childlink.title | escape }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                </li>
              {% else %}
                <li {% if link.active %}class="site-nav--active"{% endif %}>
                  <a href="{{ link.url }}" class="site-nav__link">{{ link.title }}</a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </nav>

        <form action="/search" method="get" role="search">
          <!-- <label for="Search" class="label-hidden">
            {{ 'general.search.placeholder' | t }}
          </label>
          <input type="search"
                 name="q"
                 id="Search"
                 value="{{ search.terms | escape }}"
                 placeholder="{{ 'general.search.placeholder' | t }}"> -->
          <button type="submit" class="btn">
            {% include 'icon-search' %}
            <span class="icon-fallback-text">{{ 'general.search.submit' | t }}</span>
          </button>
        </form>
     </div><!-- End of #top-header -->




       <nav class="phone-navigation" style="display:none;">
         <ul class="site-nav">
           <li><a href="#" class="nav-shop-dropdown">Shop</a></li>

           <div class="nav-header-dropdown" style="display:none;">
             <div>
               <section>
                 <h3><a href="/pages/fragrances">Fragrances</a></h3>
                 <ul>
                 {% for link in linklists.fragrances-one.links %}
                    <li>{{ link.title | link_to: link.url }}</li>
                 {% endfor %}
                 </ul>
                 <ul>
                 {% for link in linklists.fragrances-two.links %}
                    <li>{{ link.title | link_to: link.url }}</li>
                 {% endfor %}
               </ul>
               </section>
               <section>
                 <h3><a href="/pages/home-fragrances">Home Fragrances</a></h3>
                 <ul>
                 {% for link in linklists.home-fragrances.links %}
                    <li>{{ link.title | link_to: link.url }}</li>
                 {% endfor %}
                 </ul>
               </section>
               <section>
                 <h3><a href="/pages/skincare">Skincare</a></h3>
                 <ul>
                 {% for link in linklists.skincare.links %}
                    <li>{{ link.title | link_to: link.url }}</li>
                 {% endfor %}
                 </ul>
               </section>
               <section>
                 <h3><a href="/pages/bath-and-body">Bath & Body</a></h3>
                 <ul>
                 {% for link in linklists.bath-body.links %}
                    <li>{{ link.title | link_to: link.url }}</li>
                 {% endfor %}
                 </ul>
               </section>
               <section>
                 <h3><a href="/pages/haircare">Haircare</a></h3>
                 <ul>
                 {% for link in linklists.haircare.links %}
                    <li>{{ link.title | link_to: link.url }}</li>
                 {% endfor %}
                 </ul>
               </section>
             </div>
           </div>

           {% for link in linklists[section.settings.main_linklist].links %}
             {%- assign child_list_handle = link.title | handleize -%}
             {% if menus[child_list_handle].links != blank %}
               <li class="site-nav--has-submenu{% if link.active %} site-nav--active{% endif %}">
                 <a href="{{ link.url }}" class="site-nav__link">
                   {{ link.title }}
                   {% include 'icon-arrow-down' %}
                 </a>
                 <ul class="site-nav__submenu">
                   {% for childlink in menus[child_list_handle].links %}
                     <li {% if childlink.active %}class="site-nav--active"{% endif %}>
                       <a href="{{ childlink.url }}" class="site-nav__link">{{ childlink.title | escape }}</a>
                     </li>
                   {% endfor %}
                 </ul>
               </li>
             {% else %}
               <li {% if link.active %}class="site-nav--active"{% endif %}>
                 <a href="{{ link.url }}" class="site-nav__link">{{ link.title }}</a>
               </li>
             {% endif %}
           {% endfor %}
         </ul>
       </nav>
     </div>

   </div><!-- End of .center-lower-header -->

  </header>
</div>
{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "range",
        "id": "logo_max_width",
        "min": 50,
        "max": 450,
        "step": 10,
        "unit": "px",
        "label": "Custom logo width",
        "default": 200
      },
      {
        "type": "link_list",
        "id": "main_linklist",
        "label": "Menu",
        "default": "main-menu"
      }
    ]
  }
{% endschema %}
