<div data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true" itemscope itemtype="http://schema.org/Product">

  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

  <meta itemprop="name" content="{{ product.title }}{% unless product.has_only_default_variant %} - {{ current_variant.title }}{% endunless %}">
  <meta itemprop="url" content="{{ shop.url }}{{ current_variant.url }}">
  <meta itemprop="brand" content="{{ product.vendor }}">
  <meta itemprop="image" content="{{ featured_image | img_url: '600x600' }}">
  <meta itemprop="description" content="{{ product.description | strip_html | escape }}">

  <div class="grid__item">
    <div class="grid page-width" style="margin-bottom: 5em;">
      <div class="grid__item medium-up--one-half productPage-images">
        <h3>{{ current_variant.price | money }}</h3>
        <img src="{{ featured_image | img_url: '480x480' }}" alt="{{ featured_image.alt | escape }}" data-product-featured-image>
        <!-- {% if product.images.size > 1 %}
          <ul>
            {% for image in product.images %}
              <li>
                <a href="{{ image.src | img_url: '480x480' }}" data-product-single-thumbnail>
                  <img src="{{ image.src | img_url: '160x160' }}" alt="{{ image.alt | escape }}">
                </a>
              </li>
            {% endfor %}
          </ul>
        {% endif %} -->
      </div>

      <div class="grid__item medium-up--one-half productPage-description">
        <h2>{{ product.title }}</h2>
        <p>{{ product.vendor }}</p>
        <div>{{ product.description }}</div>

        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          <meta itemprop="priceCurrency" content="{{ shop.currency }}">
          <meta itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
          <link itemprop="availability" href="http://schema.org/{% if current_variant.available %}InStock{% else %}OutOfStock{% endif %}">

          <form action="/cart/add" method="post" enctype="multipart/form-data">
            {% unless product.has_only_default_variant %}
              {% for option in product.options_with_values %}
                <div class="selector-wrapper js">
                  <label for="SingleOptionSelector-{{ forloop.index0 }}">
                    {{ option.name }}
                  </label>

                  <select
                    id="SingleOptionSelector-{{ forloop.index0 }}"
                    data-single-option-selector
                    data-index="option{{ option.position }}">
                    {% for value in option.values %}
                      <option
                        value="{{ value | escape }}"
                        {% if option.selected_value == value %}selected="selected"{% endif %}>
                          {{ value }}
                      </option>
                    {% endfor %}
                  </select>
                </div>
              {% endfor %}
            {% endunless %}

            <button
              type="submit"
              name="add"
              data-add-to-cart
              {% unless current_variant.available %}disabled="disabled"{% endunless %}>
                <span data-add-to-cart-text>
                  {% if current_variant.available %}
                    {{ 'products.product.add_to_cart' | t }}
                  {% else %}
                    {{ 'products.product.sold_out' | t }}
                  {% endif %}
                </span>
            </button>

            <select name="id" class="no-js" data-product-select>
              {% for variant in product.variants %}
                <option
                  {% if variant == current_variant %}selected="selected"{% endif %}
                  {% unless variant.available %}disabled="disabled"{% endunless %}
                  value="{{ variant.id }}">
                    {{ variant.title }}
                </option>
              {% endfor %}
            </select>

            <!-- <label for="Quantity">{{ 'products.product.quantity' | t }}</label> -->

            <div class="quantity">
              <input type="number" name="quantity" value="1" min="1">
            </div>
            <!-- End of quantity -->
              {% if product.compare_at_price_max > product.price %}
                <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
                <s data-compare-price>
                  {% if current_variant.compare_at_price > current_variant.price %}
                    {{ current_variant.compare_at_price | money }}
                  {% endif %}
                </s>
              {% endif %}
            </div>
          </form>
        </div>
      </div><!-- End of Second one-half -->
    </div>
  </div>

  {% unless product == empty %}
    <script type="application/json" data-product-json>
      {{ product | json }}
    </script>
  {% endunless %}
</div>

<div class="page-width reviewSection">
  <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
</div>

{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      }
    ]
  }
{% endschema %}

{% javascript %}
jQuery('<div class="quantity-nav"><div class="quantity-button quantity-up">+</div><div class="quantity-button quantity-down">-</div></div>').insertAfter('.quantity input');
jQuery('.quantity').each(function() {
  var spinner = jQuery(this),
    input = spinner.find('input[type="number"]'),
    btnUp = spinner.find('.quantity-up'),
    btnDown = spinner.find('.quantity-down'),
    min = input.attr('min'),
    max = input.attr('max');

  btnUp.click(function() {
    var oldValue = parseFloat(input.val());
    if (oldValue >= max) {
      var newVal = oldValue;
    } else {
      var newVal = oldValue + 1;
    }
    spinner.find("input").val(newVal);
    spinner.find("input").trigger("change");
  });

  btnDown.click(function() {
    var oldValue = parseFloat(input.val());
    if (oldValue <= min) {
      var newVal = oldValue;
    } else {
      var newVal = oldValue - 1;
    }
    spinner.find("input").val(newVal);
    spinner.find("input").trigger("change");
  });
});
{% endjavascript %}


{% stylesheet %}
.reviewSection .spr-container{
  padding: 0px;
	border-style: none;
}

.reviewSection .spr-header-title::before {
	content: '';
	display: block;
	width: 1110px;
	height: 1px;
	background: #ccc;
	border-radius: 5px;
	position: absolute;
	bottom: 50%;
	z-index: -1;
}

.reviewSection .spr-header-title {
	text-align: center;
	font-size: 1.25em;
	color: #333;
	font-weight: 100;
	letter-spacing: 1px;
	z-index: 131;
	position: relative;
}

.reviewSection .spr-header-title::after {
	background: white;
	/* content: ""; */
	display: table;
	width: 180px;
	height: 30px;
	margin: 0 auto;
	margin-top: -26px;
	z-index: 139;
}

.reviewSection .spr-icon {
	color: #5343C2;
}

.reviewSection .spr-summary-actions a {
	text-decoration: none;
}





.productPage-description{letter-spacing:1px;}

.productPage-images h3,
.productPage-description h2 {
  color:#5343C2;
}

.productPage-images h3 {font-size:1.2em;}

.productPage-description h2 {font-size:1.4em;}

div.grid__item:nth-child(2) > p:nth-child(2){
  color:#999;
  font-size:1em;
  margin-top: -0.8em;
}
.productPage-description div p:nth-child(1) {margin-top: 1.5em;}

.productPage-description div p {
	color: #333;
	font-size: 0.9em;
	line-height: 22px;
}





.grid__item div form button {
	background: #5343C2;
	width: 100%;
	padding: 15px 0;
	border: none;
	color: white;
	border-radius: 5px 5px 0 0;
}


.quantity {position: relative;}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]{-moz-appearance: textfield;}

.quantity input {
	width: 100%;
	height: 42px;
	line-height: 1.65;
	float: left;
	display: block;
	padding: 0;
	margin: 0;
	border: 1px solid #eee;
	border-radius: 0 0 5px 5px;
	text-align: center;
}

.quantity input:focus {outline: 0;}

.quantity-nav {
  float: left;
  position: relative;
  height: 42px;
}

.quantity-button {
  position: relative;
  cursor: pointer;
  border-left: 1px solid #eee;
  width: 20px;
  text-align: center;
  color: #333;
  font-size: 13px;
  font-family: "Trebuchet MS", Helvetica, sans-serif !important;
  line-height: 1.7;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.quantity-button.quantity-up {
  position: absolute;
  height: 50%;
  top: 0;
  border-bottom: 1px solid #eee;
}

.quantity-button.quantity-down {
  position: absolute;
  bottom: -1px;
  height: 50%;
}
{% endstylesheet %}
