<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js supports-no-cookies" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js supports-no-cookies" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  {% capture seo_title %}
    {{ page_title }}
    {% if current_tags %}
      {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {% endif %}
    {% if current_page != 1 %}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {% endif %}
    {% unless page_title contains shop.name %}
      &ndash; {{ shop.name }}
    {% endunless %}
  {% endcapture %}
  <title>{{ seo_title }}</title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% include 'social-meta-tags' %}

  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

  <!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"> -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

    window.theme = {
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }}
      },
      moneyFormat: {{ shop.money_format | json }}
    };
  </script>

  {% if template.directory == 'customers' %}
    <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="{{ 'shopify_common.js' | shopify_asset_url }}"></script><![endif]-->
  {% endif %}

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lt IE 9]><script src="{{ 'vendor.js' | asset_url }}"></script><![endif]-->

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'theme.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lt IE 9]><script src="{{ 'theme.js' | asset_url }}"></script><![endif]-->

  <!-- Hotjar Tracking Code for https://so-avant-garde.com -->
  <script>
      (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:684747,hjsv:6};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
  </script>

  <!-- Facebook Pixel Code -->
  <script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window,document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
   fbq('init', '1755493064696026');
  fbq('track', 'PageView');
  </script>
  <noscript>
   <img height="1" width="1"
  src="https://www.facebook.com/tr?id=1755493064696026&ev=PageView
  &noscript=1"/>
  </noscript>
  <!-- End Facebook Pixel Code -->

  <!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-105102997-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments)};
  gtag('js', new Date());

  gtag('config', 'UA-105102997-1');
</script>


  {{ content_for_header }}
</head>

<body id="{{ page_title | handle }}" class="template-{{ template.name | handle }}">
  <div class="fullScreenLoader">
    <div class="logo">
      <img src="https://cdn.shopify.com/s/files/1/1765/8667/files/soAvantGarde_Logo.png?8439620120564947783" alt="">
    </div>
    <div class="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
    </div>
    <div class="noJavascriptPapi">
      <noscript>
        <p>For full functionality of this site it is necessary to enable JavaScript. Here are the <a href="https://www.enable-javascript.com/" target="_blank">instructions how to enable JavaScript in your web browser</a>.</p>
     </noscript>
    </div>

  </div>
  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

  {% section 'header' %}

  <div class="header-dropdown" style="display:none;">
    <div class="page-width">
      <section class="animated once bounceInUp">
        <h3><a href="/pages/fragrances">Fragrances</a></h3>
        <ul>
        {% for link in linklists.fragrances-one.links %}
           <li>{{ link.title | link_to: link.url }}</li>
        {% endfor %}
        </ul>
        <ul>
        {% for link in linklists.fragrances-two.links %}
           <li>{{ link.title | link_to: link.url }}</li>
        {% endfor %}
      </ul>
      </section>
      <section class="animated once bounceInDown">
        <h3><a href="/pages/home-fragrances">Home Fragrances</a></h3>
        <ul>
        {% for link in linklists.home-fragrances.links %}
           <li>{{ link.title | link_to: link.url }}</li>
        {% endfor %}
        </ul>
      </section>
      <section class="animated once bounceInUp">
        <h3><a href="/pages/skincare">Skincare</a></h3>
        <ul>
        {% for link in linklists.skincare.links %}
           <li>{{ link.title | link_to: link.url }}</li>
        {% endfor %}
        </ul>
      </section>
      <section class="animated once bounceInDown">
        <h3><a href="/pages/bath-and-body">Bath & Body</a></h3>
        <ul>
        {% for link in linklists.bath-body.links %}
           <li>{{ link.title | link_to: link.url }}</li>
        {% endfor %}
        </ul>
      </section>
      <section class="animated once bounceInUp">
        <h3><a href="/pages/haircare">Haircare</a></h3>
        <ul>
        {% for link in linklists.haircare.links %}
           <li>{{ link.title | link_to: link.url }}</li>
        {% endfor %}
        </ul>
      </section>
    </div>
  </div>

  <main role="main" id="MainContent">
    {{ content_for_layout }}
    {% include 'intro-video-valentine' %}
    {% include 'product-circle-buttons' %}
    {% include 'new-arrivals' %}
    <!-- {% include 'second-video-valentine' %} -->
    {% include 'trending' %}
    {% include 'more-to-adore' %}
  </main>
  {% section 'footer' %}

</body>
</html>
